.about-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
}


.content-container {
  position: relative;
  z-index: 1;
}

.our-story-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 1rem;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.bg-pattern {
  background-image:
    repeating-linear-gradient(45deg,
      transparent,
      transparent 10px,
      rgba(0, 0, 0, 0.1) 10px,
      rgba(0, 0, 0, 0.1) 20px);
}